body {
    font-family: Arial;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 4px 4px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:disabled {
    width: 100%;
    background-color: #af0000;
    color: white;
    padding: 14px 20px;
    margin: 4px 4px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=submit]:disabled:hover {
    background-color: #af0000;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    /*right: 30%;*/
}

.button:hover {
    background-color: #45a049;
}

.ui-datatable {
    margin-bottom: 5px
}

.ui-datatable .ui-datatable-header {
    text-align: right !important;
}

.ui-button-text-only .ui-button-text {
    padding: 0.3em 0.4em;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
    visibility: hidden;
}

.ui-filter-column .ui-column-customfilter .custom-filter {
    width: 100%;
    box-sizing: border-box;
}

.year-spinner input {
    width: 100%;
    box-sizing: border-box;
}
